<%= link_to 'Account History Home',controller:'accounthistories' %>
<p>Employee Name : <%= @accounthistories.employee.name %></p>
<p>Account Number : <%= @accounthistories.account.number %></p>
<p>Credit Limit : <%= @accounthistories.limit %></p>